.group-name-div {
  margin-left: 10px;
}
.members-div {
  margin-left: 20px;
  margin-top: 30px;
border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.5rem ;
   padding: 1rem;
    width: fit-content;
    margin-left:50px;

}
.add {
  margin-left: 30px;
  margin-top: 30px;
}
.go-back {
  margin-top: 20px;
  margin-left: 130px;
}
p {
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}
// .inner-div{
//   border-radius: 0.75rem;
//   box-shadow: 0 0.125rem 0.5rem ;
//   padding: 1rem;
//   width: fit-content;
// }
.addd button{
   background-color:transparent;
// margin-left:10px;
border-color:transparent;
font-size:40px;
margin-top:10px;
margin-left:60px;
}