.group-name {
  font-size: 19px;
  color: brown;
  margin-left: 20px;
  margin-top:10px;
}
.members-heading {
  margin-top: 5px;
  margin-left: 10px;
}
.member-name {
  color: cornflowerblue;
}
.add-center button {
  margin-left: 120px;
  margin-top:25px;
  color: aqua;
  background-color: transparent;
}
// .add-center{
//    border-radius: 0.75rem;
//   box-shadow: 0 0.125rem 0.5rem ;
//   padding: 1rem;
//   width: fit-content;
// }
.content{
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.5rem ;
   padding: 1rem;
   width: fit-content;
   margin-left:100px;
   margin-top:10px;
}
.add-center button{
  background-color:transparent;
// margin-left:10px;
border-color:transparent;
font-size:40px;
}
.go-group{
  margin-left:230px;
  margin-top:-45px;
}